
<!DOCTYPE html>
  <html lang="en" class="h-full bg-gray-50">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Tip Maps : Dashboard</title>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Remainder',     3],
            ['Food',      4],
            ['Rent',  8],
            ['Utilities', 1],
            ['Misc.',    2]
            ]);

            var options = {
            title: 'Yearly spending (visualized)',
            pieHole: .6,
            pieSliceTextStyle: {
                color: 'transparent'
            },
            backgroundColor: 'transparent',
            legend: 'none',
            pieSliceBorderColor: 'none',
            slices: {
                0: {color: 'rgb(0, 135, 120)'},
                1: {color: 'rgb(255, 203, 101)'},
                2: {color: 'rgb(231, 58, 225)'},
                3: {color: 'rgb(0, 45, 78)'},
                4: {color: '#990000'},
                5: {color: 'black'},
            },
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
        
        const user = (<%- user %>)
        const shifts = (<%- shifts %>)
    
        </script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
      <link rel="stylesheet" href="/css/stylesLibrary.css" />
      
  </head>
  <body>   
    <div id="dashboard-nav" class="flex-container column-box h-auto w-100px">
        <div id="dashboard-logo-box" class="flex-container column-box center-flow center-stack h-25 w-auto">
            <p class="txt-bolder">TipMaps</p>
            <svg class="h-50 w-50 red-fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z"/></svg>
        </div>
        <div id="dashboard-nav-links" class="flex-container column-box even-flow center-stack h-50 w-auto">
            <p id="nav-icon-text" class="txt-bolder">DASHBOARD</p>
            <a class="nav-link" ><svg class="h-24px w-24px rnd-5 pad-4px navy-fill svg-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg></a>
            <a class="nav-link" href="/profile"><svg class="h-24px w-24px rnd-5 pad-4px navy-fill svg-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg></a>
            <a class="nav-link" ><svg class="h-24px w-24px navy rnd-5 pad-4px white-fill svg-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M512 256c0 141.4-114.6 256-256 256S0 397.4 0 256S114.6 0 256 0S512 114.6 512 256zM288 96c0-17.7-14.3-32-32-32s-32 14.3-32 32s14.3 32 32 32s32-14.3 32-32zM256 416c35.3 0 64-28.7 64-64c0-17.4-6.9-33.1-18.1-44.6L366 161.7c5.3-12.1-.2-26.3-12.3-31.6s-26.3 .2-31.6 12.3L257.9 288c-.6 0-1.3 0-1.9 0c-35.3 0-64 28.7-64 64s28.7 64 64 64zM176 144c0-17.7-14.3-32-32-32s-32 14.3-32 32s14.3 32 32 32s32-14.3 32-32zM96 288c17.7 0 32-14.3 32-32s-14.3-32-32-32s-32 14.3-32 32s14.3 32 32 32zm352-32c0-17.7-14.3-32-32-32s-32 14.3-32 32s14.3 32 32 32s32-14.3 32-32z"/></svg></a>
            <a class="nav-link" ><svg class="h-24px w-24px rnd-5 pad-4px navy-fill svg-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zm406.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L320 210.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L240 221.3l57.4 57.4c12.5 12.5 32.8 12.5 45.3 0l128-128z"/></svg></a>
            <a class="nav-link" ><svg class="h-24px w-24px rnd-5 pad-4px navy-fill svg-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 512C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256s-114.6 256-256 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg></a>
            <a class="nav-link" ><svg class="h-24px w-24px rnd-5 pad-4px navy-fill svg-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z"/></svg></a>           
        </div>
        <div id="dashboard-bottom-box" class="flex-container column-box even-flow center-stack h-25 w-auto">
            <a class="nav-link"><svg class="h-24px w-24px rnd-5 pad-4px navy-fill svg-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336c44.2 0 80-35.8 80-80s-35.8-80-80-80s-80 35.8-80 80s35.8 80 80 80z"/></svg></a>
            <a id="add-shift-button" class="nav-link flex-container center-flow center-stack h-33 w-66 green pad-8px" href="/shifts"><svg class="h-48px w-48px white-fill pad-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg></a>
        </div>
    </div>
    <div id="dashboard-content" class="calced-width h-100vh">
        <div class="pad-8px h-5 w-auto">
            <h2>Welcome back to TipMaps, John</h2>
        </div>
        <div id="savings-goal-container" class="flex-container center-flow center-stack w-auto h-20 pad-8px">
            <div class="flex-container row-box space-flow center-stack h-auto w-auto yellow rnd-25">
                <img id="savings-goal-decal" class="rnd-25" src="/imgs/sidebar-decal.jpg" alt=""/>
                <div class="flex-container column-box center-flow w-auto h-auto pad-tb-10">
                    <h2>You're <span id="amount-to-savings-goal" class="txt-green txt-ital"></span> from achieving your savings goal!</h2>
                    <div class="flex-container center-stack w-auto">
                        <div id="savings-goal-graphic" class="h-5 green m-r-4px"></div>
                        <h1 id="savings-goal-percentage" class="txt-bolder m-l-4px">0%</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-container space-flow center-stack w-auto h-15 pad-8px">
            <div class="flex-container even-flow center-stack w-25 h-auto rnd-25 m-r-4px">
                <svg class="w-48px h-48px white-fill navy rnd-5 pad-8px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M320 96H192L144.6 24.9C137.5 14.2 145.1 0 157.9 0H354.1c12.8 0 20.4 14.2 13.3 24.9L320 96zM192 128H320c3.8 2.5 8.1 5.3 13 8.4C389.7 172.7 512 250.9 512 416c0 53-43 96-96 96H96c-53 0-96-43-96-96C0 250.9 122.3 172.7 179 136.4l0 0 0 0c4.8-3.1 9.2-5.9 13-8.4zm84.1 96c0-11.1-9-20.1-20.1-20.1s-20.1 9-20.1 20.1v6c-5.6 1.2-10.9 2.9-15.9 5.1c-15 6.8-27.9 19.4-31.1 37.7c-1.8 10.2-.8 20 3.4 29c4.2 8.8 10.7 15 17.3 19.5c11.6 7.9 26.9 12.5 38.6 16l2.2 .7c13.9 4.2 23.4 7.4 29.3 11.7c2.5 1.8 3.4 3.2 3.8 4.1c.3 .8 .9 2.6 .2 6.7c-.6 3.5-2.5 6.4-8 8.8c-6.1 2.6-16 3.9-28.8 1.9c-6-1-16.7-4.6-26.2-7.9l0 0 0 0 0 0 0 0c-2.2-.8-4.3-1.5-6.3-2.1c-10.5-3.5-21.8 2.2-25.3 12.7s2.2 21.8 12.7 25.3c1.2 .4 2.7 .9 4.4 1.5c7.9 2.7 20.3 6.9 29.8 9.1V416c0 11.1 9 20.1 20.1 20.1s20.1-9 20.1-20.1v-5.5c5.4-1 10.5-2.5 15.4-4.6c15.7-6.7 28.4-19.7 31.6-38.7c1.8-10.4 1-20.3-3-29.4c-3.9-9-10.2-15.6-16.9-20.5c-12.2-8.8-28.3-13.7-40.4-17.4l-.8-.2c-14.2-4.3-23.8-7.3-29.9-11.4c-2.6-1.8-3.4-3-3.6-3.5c-.2-.3-.7-1.6-.1-5c.3-1.9 1.9-5.2 8.2-8.1c6.4-2.9 16.4-4.5 28.6-2.6c4.3 .7 17.9 3.3 21.7 4.3c10.7 2.8 21.6-3.5 24.5-14.2s-3.5-21.6-14.2-24.5c-4.4-1.2-14.4-3.2-21-4.4V224z"/></svg>
                <div class="flex-container column-box center-flow h-auto w-66">
                    <p class="m-l-4px txt-gray">Average shift</p>
                    <h1 id="average-shift-earnings" class="m-l-4px txt-bolder"></h1>
                </div>
            </div>
            <div class="flex-container even-flow center-stack w-25 h-auto rnd-25 m-r-4px">
                <svg class="w-48px h-48px white-fill green rnd-5 pad-8px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M160 0c17.7 0 32 14.3 32 32V67.7c1.6 .2 3.1 .4 4.7 .7c10.6 1.6 42.1 6.7 55.1 10c17.1 4.3 27.5 21.7 23.2 38.9s-21.7 27.5-38.9 23.2c-9.3-2.4-37.6-7-48.9-8.7c-32.1-4.8-59.6-2.4-78.5 4.9c-18.3 7-25.9 16.9-27.9 28c-1.9 10.7-.5 16.8 1.3 20.6c1.9 4 5.6 8.5 12.9 13.4c16.2 10.8 41.1 17.9 73.3 26.7l2.8 .8c28.4 7.7 63.2 17.2 89 34.3c14.1 9.4 27.3 22.1 35.5 39.7c8.3 17.8 10.1 37.8 6.3 59.1c-6.9 38-33.1 63.4-65.6 76.7c-13.7 5.6-28.6 9.2-44.4 11V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V445.1c-.4-.1-.9-.1-1.3-.2l-.2 0 0 0c-24.4-3.8-64.5-14.3-91.5-26.3c-16.2-7.2-23.4-26.1-16.2-42.2s26.1-23.4 42.2-16.2c20.9 9.3 55.3 18.4 75.2 21.6c31.9 4.7 58.2 2 76-5.3c16.9-6.9 24.6-16.9 26.8-28.9c1.9-10.7 .5-16.8-1.3-20.6c-1.9-4-5.6-8.5-12.9-13.4c-16.2-10.8-41.1-17.9-73.3-26.7l-2.8-.8c-28.4-7.7-63.2-17.2-89-34.3c-14.1-9.4-27.3-22.1-35.5-39.7c-8.3-17.8-10.1-37.8-6.3-59.1C25 114.1 53 89.3 86 76.7c13-5 27.2-8.2 42-10V32c0-17.7 14.3-32 32-32z"/></svg>
                <div class="flex-container column-box center-flow h-auto w-66">
                    <p class="m-l-4px txt-gray">$/hr average</p>
                    <h1 id="average-hourly-earnings" class="m-l-4px txt-bolder"></h1>
                </div>
            </div>
            <div class="flex-container even-flow center-stack w-25 h-auto rnd-25 m-r-4px">
                <svg class="w-48px h-48px white-fill pink rnd-5 pad-8px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M232 120C232 106.7 242.7 96 256 96C269.3 96 280 106.7 280 120V243.2L365.3 300C376.3 307.4 379.3 322.3 371.1 333.3C364.6 344.3 349.7 347.3 338.7 339.1L242.7 275.1C236 271.5 232 264 232 255.1L232 120zM256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0zM48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48C141.1 48 48 141.1 48 256z"/></svg>                <div class="flex-container column-box center-flow h-auto w-66">
                    <p class="m-l-4px txt-gray">Average shift length</p>
                    <h1 id="average-shift-length" class="m-l-4px txt-bolder"></h1>
                </div>
            </div>
            <div class="flex-container even-flow center-stack w-25 h-auto rnd-25 m-r-4px">
                <svg class="w-48px h-48px white-fill rnd-5 yellow pad-8px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M374.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-320 320c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l320-320zM128 128c0-35.3-28.7-64-64-64S0 92.7 0 128s28.7 64 64 64s64-28.7 64-64zM384 384c0-35.3-28.7-64-64-64s-64 28.7-64 64s28.7 64 64 64s64-28.7 64-64z"/></svg>                <div class="flex-container column-box center-flow h-auto w-66">
                    <p class="m-l-4px txt-gray">Average tip %</p>
                    <h1 id="average-tip-percentage" class="m-l-4px txt-bolder"></h1>
                </div>
            </div>
        </div>
        <div class="flex-container w-auto h-60">
            <div class="w-50 h-auto pad-8px">
                <div id="shift-earnings-graph" class="flex-container row-box center-stac space-flow h-50 w-auto">
                    <div class="flex-container column-box center-flow center-stack h-auto w-auto component-shadow rnd-25">
                        <div class="flex-container row-box center-stack space-flow w-auto pad-4px">
                            <h3 class="pad-lr-8px">Recent shifts <span id="caption-timeframe" class="txt-12px txt-gray">(last 7 days)</span></h3>
                            <select id="timeframe-input" class="rnd-5 w-25">
                                <option value="3" selected>3 days</option>
                                <option value="7" selected>7 days</option>
                                <option value="30">30 days</option>
                                <option value="90">90 days</option>
                                <option value="365">1 year</option>
                                <option value="all">All time</option>
                            </select>
                        </div>
                        <table class="h-75 w-auto charts-css txt-12px column show-primary-axis show-labels show-5-secondary-axes pad-8px" id="my-chart">
                            <caption>Earnings</caption>
                            <tbody id="graph-body">
                              
                              </tbody>
                          </table>
                    </div>
                </div>
                <div class="flex-container space-flow h-50 w-auto pad-tb-8px">
                    <div class="flex-container column-box center-stack center-flow h-auto w-50 component-shadow rnd-25 m-r-4px">
                        <h3 class="w-75">Top performing section</h3>
                        <p class="w-75 txt-12px pad-tb-8px">You haven't added any sections for this workplace yet!</p>
                        <button class="btn-outline btn-red txt-bolder w-75 btn-thin rnd-25">! ADD SECTIONS !</button>
                    </div>
                    <div class="flex-container column-box center-stack center-flow h-auto w-50 component-shadow rnd-25 m-r-4px">
                        <h3 class="w-75 txt-cntr">Shift estimates</h3>
                        <p class="w-75 txt-12px pad-tb-8px txt-ital">Select an upcoming shift from the sidebar to generate shift estimates.</p>
                        <div class="flex-container w-auto pad-lr-8px column-box">
                            <p class="txt-8px">Estimated shift length: <span class="txt-bolder">6hr 25</span></p>
                            <p class="txt-8px">Estimated sales: <span class="txt-bolder">$1563.28</span></p>
                            <p class="txt-8px">Estimated wage: <span class="txt-bolder">$101.06</span></p>
                            <p class="txt-8px">Estimated tips: <span class="txt-bolder">$284.98 - $70.34(4.5% tipout)</span></p>
                            <p class="txt-8px">Total earnings estimate: <span class="txt-bolder">$315.70</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-50 h-auto pad-8px">
                <div class="flex-container column-box center-stack pad-8px h-auto w-auto light-pink rnd-25">
                    <p>Expected yearly earnings</p>
                    <div class="flex-container center-stack">
                        <h1>$67,239</h1>
                        <span class="txt-tiny">CAD</span>
                    </div>
                    <div id="chart-container" class="flex-container center-stack center-flow w-auto h-auto">
                        <h2 id="pie-chart-dollar-figure" class="txt-white">$11,350</h2>
                        <div id="piechart" class="w-auto"></div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div id="dashboard-sidebar" class="flex-container column-box w-300px h-auto">
        <div id="upcoming-shifts-container" class="flex-container column-box center-stack h-66 w-auto pad-5 narrow-scroll scroll-y">
            <div id="sidebar-gradient" class="flex-container center-flow center-stack h-96px w-auto">
                <button style="display: none" class="btn-thin btn-ultrawide green rnd-25 btn-outline btn-green txt-bolder">ADD TO CALENDAR</button>
            </div>
            <div class="flex-container column-box space-flow very-light-green h-192px w-auto rnd-25 m-tb-8px">
                <p class="rnd-top-25 txt-12px txt-bolder red h-32px txt-cntr txt-white pad-tb-4px">Upcoming shift</p>
                <div class="flex-container h-auto column-box even-flow pad-5">
                    <h3>Tuesday, March 3, 2022</h3>
                    <p>Start time: <span class="txt-bolder">4:30pm</span></p>
                    <p>Position: <span class="txt-bolder">Server</span></p>
                    <p>Assigned section: <span class="txt-bolder">Lounge (1)</span></p>
                    <p class="txt-8px">includes tables: <span class="txt-bold">12, 13, 14, 15, 18, 22</span></p>
                </div>
            </div>
            <div class="flex-container column-box space-flow very-light-green h-192px w-auto rnd-25 m-tb-8px">
                <p class="rnd-top-25 txt-12px txt-bolder navy h-32px txt-cntr txt-white pad-tb-4px">Upcoming shift</p>
                <div class="flex-container h-auto column-box even-flow pad-5">
                    <h3>Wednesday, March 4, 2022</h3>
                    <p>Start time: <span class="txt-bolder">4:30pm</span></p>
                    <p>Position: <span class="txt-bolder">Server</span></p>
                    <p>Assigned section: <span class="txt-bolder">Windows</span></p>
                    <p class="txt-8px">includes tables: <span class="txt-bold">50, 51, 52, 53, 62</span></p>
                </div>
            </div>
            <div class="flex-container column-box space-flow very-light-green h-192px w-auto rnd-25 m-tb-8px">
                <p class="rnd-top-25 txt-12px txt-bolder navy h-32px txt-cntr txt-white pad-tb-4px">Upcoming shift</p>
                <div class="flex-container h-auto column-box even-flow pad-5">
                    <h3>Friday, March 5, 2022</h3>
                    <p>Start time: <span class="txt-bolder">4:30pm</span></p>
                    <p>Position: <span class="txt-bolder">Server</span></p>
                    <p>Assigned section: <span class="txt-bolder">High-tops</span></p>
                    <p class="txt-8px">includes tables: <span class="txt-bold">19, 20, 21, 23, 24</span></p>
                </div>
            </div>
        </div>
        <div class="h-33 w-auto hidden-overflow">
            <img id="sidebar-decal" src="/imgs/sidebar-decal3.jpg" alt=""/>
        </div>
    </div>
  </body>
  <script>
        
        let totalUserEarnings = shifts.reduce((a, v)=> {return a + ((v.hoursWorked * v.wage) + v.tips) - ((v.totalSales * v.tipout)/100)}, 0).toFixed(2)
        let savingsGoalCompletion = ((totalUserEarnings/user.savingsGoal) * 100).toFixed(2)
        let averageShiftEarnings = (totalUserEarnings / shifts.length).toFixed(2)
        let totalHoursWorked = shifts.reduce((a, v) => {return a + ((v.hoursWorked))}, 0).toFixed(2)
        let averageShiftLength = (totalHoursWorked / shifts.length).toFixed(2)
        let totalTipsEarned = shifts.reduce((a, v) => {return a + ((v.tips))}, 0)
        let totalSales = shifts.reduce((a, v) => {return a + ((v.totalSales))}, 0)
        let averageTipPercentage = (totalTipsEarned / totalSales * 100).toFixed(2)
        let averageHourlyEarnings = (totalUserEarnings / totalHoursWorked).toFixed(2)


        console.log(averageHourlyEarnings)
        const savingsGoalGraphic = document.querySelector("#savings-goal-graphic")
        const savingsGoalPercentage = document.querySelector("#savings-goal-percentage")
        const amountToSavingsGoal = document.getElementById('amount-to-savings-goal')
        const avgShiftEarnings = document.getElementById('average-shift-earnings')
        const avgHourlyEarnings = document.getElementById('average-hourly-earnings')
        const avgShiftLength = document.getElementById('average-shift-length')
        const avgTipPercentage = document.getElementById('average-tip-percentage')
        const expectedYearlyIncome = document.getElementById('expected-yearly-income')
        const graphHeight = document.querySelectorAll(".graph-bar")
        const timeframeInput = document.getElementById('timeframe-input')
        const captionTimeframe = document.getElementById('caption-timeframe')
        const graphBody = document.getElementById('graph-body')
        const navIconText = document.getElementById('nav-icon-text')
        const navLinks = Array.from(document.querySelectorAll('.nav-link'))
        
        navLinks.forEach((link, i) => {
            link.addEventListener('mouseenter', changeNavText)
            link.addEventListener('mouseleave', returnNavText)
        })

        function returnNavText() {
            navIconText.innerText = 'DASHBOARD'
        }

        function changeNavText(e) {
            const links = ['HOME', 'PROFILE', 'DASHBOARD', 'ANALYTICS', 'SHIFT-LOG', 'CALENDAR', 'SETTINGS', 'ADD SHIFTS']
            navIconText.innerText = `${links[navLinks.indexOf(e.target)]}`
        }

        timeframeInput.addEventListener('change', updateTimeframeData)
        amountToSavingsGoal.innerText = `$${user.savingsGoal - totalUserEarnings} `
        savingsGoalGraphic.style.minWidth = `${savingsGoalCompletion}%`
        savingsGoalPercentage.innerText = `${savingsGoalCompletion}%`
        avgHourlyEarnings.innerText = `$${averageHourlyEarnings}`
        avgShiftEarnings.innerText = `$${averageShiftEarnings}`
        avgShiftLength.innerText = `${averageShiftLength} hrs`
        avgTipPercentage.innerText = `${averageTipPercentage}%`
        

        function peakEarningsForPeriod() {
            const timeframe = document.getElementById('timeframe-input').value
            let dateSortedShifts = shifts.sort((a, b) => {
               return new Date(a.dateWorked) - new Date(b.dateWorked)
            })
            let peakEarnings = 0
            dateSortedShifts.forEach((shift, i) => {
                let earningsForShift = ((shift.hoursWorked * shift.wage) + shift.tips) - ((shift.totalSales * shift.tipout)/100).toFixed(2)
                const today = new Date(Date.now())
                const shiftDate = new Date(shift.dateWorked)
                const daydifference = (Math.abs(today) - Math.abs(shiftDate)) / 1000 / 60 / 60 / 24
                if(daydifference < timeframe) {  
                    if(earningsForShift > peakEarnings) {
                        peakEarnings = earningsForShift
                    }
                }
                
            })
            return peakEarnings
        }
   


        function updateTimeframeData() {
            while(graphBody.firstChild) {
                graphBody.removeChild(graphBody.lastChild)
            }
            const timeframe = document.getElementById('timeframe-input').value
            captionTimeframe.innerHTML = `(${timeframe} days)`
            let dateSortedShifts = shifts.sort((a, b) => {
               return new Date(a.dateWorked) - new Date(b.dateWorked)
            })
            dateSortedShifts.forEach((shift, i) => {
                let earningsForShift = ((shift.hoursWorked * shift.wage) + shift.tips) - ((shift.totalSales * shift.tipout)/100).toFixed(2)
                const today = new Date(Date.now())
                const shiftDate = new Date(shift.dateWorked)
                const daydifference = (Math.abs(today) - Math.abs(shiftDate)) / 1000 / 60 / 60 / 24
                const peakEarnings = peakEarningsForPeriod()
                console.log(timeframe)
                if(daydifference < timeframe) {  
                    const tr = document.createElement('tr')
                    const td = document.createElement('td')
                    const th = document.createElement('th')

                    td.style = `--size: ${earningsForShift.toFixed(2)}/${peakEarnings.toFixed(2)}`
                    td.innerText = `$${earningsForShift.toFixed(2)}`
                    th.scope = 'row'
                    th.innerText = `${shiftDate.getDate()}/${shiftDate.getMonth()}`
                    tr.appendChild(td)
                    tr.appendChild(th)
                    graphBody.appendChild(tr)

                }})
            }

            updateTimeframeData()
  </script>
  </html>   