
<!--
      dashboard nav
      dropdown for period
      savings progress
      modules for earnings/hours/tips %
    -->
<!DOCTYPE html>
  <html lang="en" class="h-full bg-gray-50">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Tip Maps : Dashboard</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
      <link rel="stylesheet" href="/css/dashboardStyles.css" />
      
  </head>
  <body>
    <% if(ejsUser.employment.workplaces.length === 0) { %>
      <div class="warningContainer">
      <div id="noWorkplaceWarning">
          <h3>No data to display:</h3>
          <h2><span class="errorMessage">Error: </span>'No workplace data exists for this user'</h2>
          <a href="/profile"><button className="warning--button">Update workplace</button></a>
        </div>
      </div>
      <% } else if(ejsShifts.length === 0) { %>
      <div class="warningContainer">  
        <div id="noShiftWarning">
          <h3>No data to display:</h3>
          <h2><span class="errorMessage">Error: </span>'No shifts exist for this user'</h2>
          <a href="/shifts"><button class="warning--button shift-warning-button">+ Add Shift</button></a>
        </div>
      </div>
      <% } %>
      <div class="dashboard--container">
        <div class="dashboard--nav--container">
          <div class="logo">
          </div>
          <div class="user">
            <a href="/profile">Profile</a>
          </div>
          <div class="nav--links">
            <a href="/">Home</a>
            <a href="/dashboard/<%= user.id %>" class="selected">Dashboard</a>
            <a href="/shifts">Shifts</a>
            <a href="/analytics">Analytics</a>
            <a href="/calendar">Calendar</a>
          </div>
          <div class="logout">
            <a href="/logout"><button>LOG OUT</button></a>
          </div>
        </div>
        <div class="dashboard--content--container">
          <div class="dashboard--keySelectors">
            <div class="workplace--selector--container">
              <select class="workplace--selector" name="workplace">
                <% for(let i=0; i< ejsUser.employment.workplaces.length; i++) { %>
                  <option><%= ejsUser.employment.workplaces[i].name %></option>
                  <% } %>
              </select>
            </div>
            <div class="period--selector--container">
              <select class="period--selector" name="period">
                <option value="1">Today</option>
                <option value="7">7 days</option>
                <option value="30">30 days</option>
                <option value="365">1 year</option>
                <option value="all">All time</option>
              </select>
            </div>
          </div>
          <div class="savingsGoal">
            <% if(user.savingsGoal === '') { %>
              <h2>Set a savings goal in the profile tab to track your progress!</h2>
            <% } else { %> 
              <h2 class="savingsGoal--title"></h2>
              <div class="savingsGoal--graphic">
                <div class="savingsProgress_meter"></div>
                <p class="progress__percent">0%</p>
              </div>
            <% } %>
          </div>
          <div class="periodModule">
            
          </div>
          <div class="periodModule"></div>
          <div class="periodModule"></div>
          <div class="periodTracker"></div>
          <div class="periodModule trackerCompanion">
            
          </div>
        </div>
    </div>
    <script>
      const user = (<%- user %>)
      const shifts = (<%- shifts %>)
      let totalUserEarnings = shifts.reduce((a, v)=> {return a + ((v.hoursWorked * v.wage) + v.tips) - ((v.totalSales * v.tipout)/100)}, 0).toFixed(2)
      let savingsGoalCompletion = ((totalUserEarnings/user.savingsGoal) * 100).toFixed(2)
      const savingsGoalGraphic = document.querySelector(".savingsProgress_meter")
      const savingsGoalPercent = document.querySelector(".progress__percent")
      const savingsGoalTitle = document.querySelector(".savingsGoal--title")
      savingsGoalTitle.innerText = `You've earned $${totalUserEarnings} of your $${user.savingsGoal} goal!`
      savingsGoalGraphic.style.width = `${savingsGoalCompletion}%`
      savingsGoalPercent.innerText = `${savingsGoalCompletion}%`


      let hourlyWage
      let hoursWorked
      let averageShiftLength
      
    </script>
  </body>
</html>
