<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        window.onload = function() { 
            document.querySelector('#generate--analytics').submit()
        }
    </script>
</head>
<body>
    <div>
        <form id="generate--analytics" action="/updateAnalytics?_method=PUT" method="POST"></form>
    </div> 
</body>
</html>