/* ================================================================= */
/*Font Import*/
/* ================================================================= */


@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Alumni+Sans+Pinstripe:ital@0;1&family=Antic&family=Antic+Didone&family=Bebas+Neue&family=Comfortaa:wght@300&family=Indie+Flower&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Montserrat:wght@300&family=Nunito&family=Playfair+Display+SC:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@600&family=Tangerine:wght@400;700&family=Ubuntu:wght@700&display=swap');


/* ================================================================= */
/*Color palet*/
/* ================================================================= */
.gray {
    background-color: #e6e6e6;
}

.white {
    background-color: #FFF;
}

.yellow {
    background-color: rgb(255, 203, 101);
}

.green {
    background-color: rgb(0, 135, 120);
}

.very-light-green {
    background-color: rgb(220, 230, 195);
}

.light-blue {
    background-color: rgb(218, 247, 255);
}

.red {
    background-color: #990000;
}

.pink {
 background-color: rgb(231, 58, 225);
}

.light-pink {
    background-color: rgb(255, 142, 176);
}

.navy {
    background-color: rgb(0, 45, 78);
}

.navy-fill {
    fill: rgb(0, 45, 78);
}

.green-fill {
    fill: rgb(0, 135, 120);
}

.white-fill {
    fill: #fff;
}

#exit-pop-up {
    top: 0;
    right: 0;
}

.pop-up-screen {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .75);
    height: 100vh;
    width: 100vw;
}


.red-fill {
    fill: #990000;
}

.txt-green {
    color:rgb(0, 135, 120);
}

.txt-red {
    color: #990000;
}

.orange {
    background-color: rgb(245, 136, 0);
}

.beige {
    background-color: rgb(255, 238, 192);
}

.dark-green {
    background-color: rgb(0, 89, 24);
}


/* ================================================================= */
/*Measurements*/
/* ================================================================= */
#submit-shift-button {
    background-color: rgb(0, 135, 120);
    color: white;
}

#add-workplace-pop-up {
    z-index: 100;
}

#add-shift-container {
    height: 100vh;
    width: 100vw;


}







* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: calc(4px + 6 * ((100vw - 320px) / 680));
}

.calced-width {
    width: calc(100% - 400px)
}

.rating-svg {
    padding: 2px;
    border-radius: 25px;
}

.svg-hover:hover {
    fill: #fff;
    background-color: rgb(0, 45, 78);
    cursor: pointer;
    transform: scale(1.15);
    transition: .25s ease-in-out;
}

#upcoming-shifts-container {
    padding-bottom: 96px;
}

#savings-goal-decal {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

#add-shift-button {
    border-bottom-left-radius: 25px ;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px ;
}


#add-shift-button:hover {
    transform: scale(1.1);
    transition: .25s ease-in-out;
}

#sidebar-decal {
    width: auto;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;

}

#savings-goal-container {
    
}




#sidebar-gradient {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to bottom, transparent, #fff, #fff);
    bottom: 33.3333%;
    width: 299px;
}

::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: rgb(0, 45, 78);
}

.hidden-overflow {
    overflow: hidden;
}

.scroll-y {
    overflow-y: scroll;
}

.m-lr-16px {
    margin-left: 16px;
    margin-right: 16px;
}

.m-tb-8px {
    margin-top: 8px;
    margin-bottom: 8px;
}

.m-tb-16px {
    margin-top: 16px;
    margin-bottom: 16px;
}

.h-95vh {
    height: 95vh;
}

.w-24px {
    width: 24px;
}

.w-full {
    width: 100vw;
}
.h-10vh {
    height: 10vh;
}

.h-full {
    height: 100vh;
}

.h-24px {
    height: 24px;
}

.h-32px {
    height: 32px;
}

.w-32px {
    width: 32px;

}

.w-100vw {
    width: 100vw;
}

.w-48px {
    width: 48px;
}

.h-48px {
    height: 48px;
}

.h-96px {
    height: 96px;
}

.h-192px {
    min-height: 192px;
}

.w-300px {
    width: 300px;
}

.w-90 {
    width: 90%;
}

.h-5vh {
    height: 5vh;
}

.w-100vw {
    width: 100vw;
}

.w-100px {
    width: 100px;
}

.w-auto {
     width: 100%;
 }

 .w-75 {
    width: 75%;
 }

 .w-66 {
    width: 66.6666%
 }
 
 .w-50 {
     width: 50%;
 }
 
 .w-33 {
     width: 33.3333%
 }
 
 .w-25 {
     width: 25%;
 }


 .w-10 {
    width: 10%;
 }
 
 .h-10 {
     height: 10%;
 }

 .h-60 {
    height: 60%;
 }

 .align-end {
    align-self: flex-end;
 }

 .h-15 {
    height: 15%;
 }
 
 .h-5 {
     height: 5%;
 }

 .h-33 {
    height: 33.3333%
 }

 .h-20 {
    height: 20%;
 }
 
 .h-25 {
     height: 25%;
 }

 .h-66 {
    height: 66.6666%
 }

 .h-75 {
    height: 75%;
 }

 .h-90 {
    height: 90%;
 }

 .h-100vh {
    height: 100vh;
 }
 
 .h-auto {
     height: 100%;
 }
 
 .h-50 {
     height: 50%;
 }

 .h-8px {
    height: 8px;
 }

 .h-16px {
    height: 16px;
 }


 .h-32px {
    height: 24px;
 }
 
 .pad-1 {
    padding: 1%
 }
 
 .pad-5 {
    padding: 5%;
 }

 .pad-10 {
    padding: 10%;
 }

 .pad-4px {
    padding: 4px;
 }

 .pad-8px {
    padding: 8px;
 }

 .pad-16px {
    padding: 16px;
 }

 .pad-24px {
    padding: 24px;
 }

 .pad-48px {
    padding: 48px;
 }

 .pad-lr-4px {
    padding: 0 4px;
 }
 .pad-lr-8px {
    padding: 0 8px;
 }

 .pad-lr-24px {
    padding: 0 24px
 }

 .pad-lr-48px {
    padding: 0 48px;
 }

 .pad-tb-1 {
    padding: 1% 0;
 }

 .pad-tb-5 {
    padding: 5% 0;
 }
 
 .pad-tb-10 {
    padding: 10% 0;
}

 .pad-lr-1 {
    padding: 0 1%;
 }
 .pad-lr-5 {
    padding: 0 5%;
 }
 .pad-lr-10 {
    padding: 0 10%;
 }

 .m-l-4px {
    margin-left: 4px;
 }

 .m-r-4px {
    margin-right: 4px
 }

 .pad-tb-4px {
    padding: 4px 0;
 }

 .pad-tb-8px {
    padding: 8px 0;
 }
 
 .pad-tb-24px {
    padding: 24px 0;
}
.pad-tb-48px {
    padding: 48px 0;
}

.z-200 {
    z-index: 200;
}

@keyframes loading {
    0% {
        width: 0%;
        border-bottom: 3px solid #990000;
        height: 5px;
        background-color: #990000;
    } 25% {
        width: 100%;
        border-bottom: 3px solid #990000;
        height: 5px;
        background-color: #990000;
    } 50% {
        width: 100%;
        background-color: rgba(255, 255, 255, .5);
    } 100% {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
    }
}

.txt-right {
    text-align: right;
}

 /* ================================================================= */
 /*Cointainers*/
 /* ================================================================= */
 .absolute {
    position: absolute;
 }

 .flex-1 {
    flex: 1;
 }

 .flex-half {
    flex: 0.5;
 }

 .flex-third {
    flex: .3333;
 }

.flex-3qtr {
    flex: .75;
}

 .flex-qtr {
    flex: 0.25;
 }

.column-wrap {
    flex-flow: column wrap;
}

 .row-wrap {
    flex-flow: row wrap;
 }
 
 .flex-container {
     display: flex;
 }
 
 .column-box {
     flex-direction: column;
 }
 
 .row-box {
     flex-direction: row;
 }

 .fixed {
    position: fixed;
 }

 .bottom {
    bottom: 25%;
 }
 
 .even-flow {
     justify-content: space-evenly;
 }
 
 .space-flow {
     justify-content: space-between;
 }
 
 .center-flow {
     justify-content: center;
 }

 .bottom-flow {
    justify-content: flex-end;
 }

 .top-flow {
    justify-content: flex-start;
 }

 .start-stack {
    align-items: flex-start;
 }
 
 .even-stack {
     align-items: space-evenly;
 }

 .end-stack {
    align-items: flex-end;
 }
 
 .space-stack {
     align-items: space-between;
 }
 
 .center-stack {
     align-items: center;
 }

 #add-new-workplace-button {
    background-color: rgb(0, 135, 120);
 }
 



 /* ================================================================= */
 /*Components*/
 /* ================================================================= */
 
/* Buttons */

.rnd-top-25 {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.component-shadow {
    border-bottom: 3px solid #e6e6e6;
    border-right: 3px solid #e6e6e6;
}

.btn-outline {
    background-color: transparent;
    border: 3px solid;
}

.btn-green {
    color: rgb(0, 135, 120);
    border-color: rgb(0, 135, 120);
}

.btn-red {
    color: #990000;
    border-color: #990000;
}

.btn-outline:hover {
    background-color: rgba(0, 0, 0, .05);
}

.disabled-input {
    opacity: 50%;
}

.bottom-border {
    border-bottom: 1px solid white;
}

button {
    cursor: pointer;
}

.btn-contain {
    color: white;
    border: none;
}

.btn-thin {
height: 48px;
}

.btn-thinner {
height: 24px;
}

.btn-thick {
height: 96px;
}

.btn-ultrawide {
width: 100%;
}

.btn-wide {
width: 248px;
}

.btn-md {
width: 96px;
}


.btn-contain:hover {
filter: brightness(90%)
}

.rnd-5 {
border-radius: 5px;
}

.circular {
border-radius: 50%;
}

.rnd-25 {
border-radius: 25px;
}

 /* Inputs */

 select {
    cursor: pointer;
    width: auto;
    text-align: right;
    padding-right: 8px;
    border: 1px solid rgb(0, 45, 78);
 }

.pointer-cursor {
    cursor: pointer;
}

 option {
    padding-right: 8px;
    text-align: right;
 }

 input {
    width: auto;
    background-color: white;
    text-align: right;
    padding: 10px 10px;
    border: 1px solid rgb(0, 45, 78);
 }

 /*Text*/

h1 {
    font-size: calc(32px + 6 * ((100vw - 1600px) / 680));
}

h2 {
    font-size: calc(24px + 6 * ((100vw - 1600px) / 680));
}

h3 {
    font-size: calc(16px + 6 * ((100vw - 1600px) / 680));
}

h4 {
    font-size: calc(12px + 6 * ((100vw - 1600px) / 680));
}

.txt-tiny {
    font-size: calc(8px + 6 * ((100vw - 1600px) / 680));
}

.txt-12px {
    font-size: 12px;
}

.txt-ital {
    font-style: italic;
}

.txt-bold {
    font-weight: bold;
}

.txt-lh-0 {
    line-height: 0;
}

.txt-8px {
    font-size: 8px;
}

.txt-bolder {
    font-weight: bolder;
}

.bkgr-blue {
    background-color: blue;
}

.bkgr-green {
    background-color: green;
}

.txt-cntr {
    text-align: center;
}

.txt-white {
    color: #fff;
}

.txt-gray {
    color: gray;
}


#piechart {
 aspect-ratio: 1 / 1;
 max-height: 100%;
 max-width: 100%;
}

#pie-chart-dollar-figure {
    position: absolute;
}